.form-container{
    border: black;
    border-style: solid;
    border-width: 2px;
    width: 100%;

} 
.form-header-container{
    background-color: lightgrey;
    border: black;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    
}

.form-input-container{
    text-align: left;
    padding: 5px;
}

.form-input-container label{
    width: 80px;
}
